#mw-navigation {
    margin-right: unset !important;
    margin-left: unset !important;
    max-width: unset !important;
    padding-left: unset !important;
    padding-right: unset !important;
}

#mw-head {
    max-width: unset !important;
    position: absolute !important;
}

#left-navigation, #mw-data-after-content, .mw-footer {
    margin-left: 11em !important;
    position: unset !important;
    z-index: unset !important;
}

#mw-page-base {
    z-index: unset;
}

#right-navigation {
        right: unset !important;
        position: unset !important;
}

#p-personal {
    right: 1em !important;
}

#content.mw-body {
	margin-left: 11em !important;
	margin-right: auto !important;
	max-width: unset !important;
    position: relative !important;
    border-right-width: 0 !important;
}

div.noresize img {
    max-width: unset !important;
}

#mw-navigation-mod > #mw-panel {
    position: absolute !important;
    top: 0 !important;
    width: 10em !important;
    left: 0 !important;
    margin-left: auto !important;
    right: unset !important;
}

#footer {
    margin-left: unset !important;
    margin-right: unset !important;
    max-width: unset !important;
}