#mw-navigation-mod {
    margin-right: auto !important;
    margin-left: auto !important;
    max-width: 1000px !important;
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
}

#mw-navigation-mod > h2 {
    position: absolute;
    top: -9999px;
}

#mw-head {
    max-width: 1000px !important;
    position: relative !important;
}

#left-navigation, #mw-data-after-content, .mw-footer {
    margin-left: -1.53em !important;
    position: relative !important;
    z-index: 100 !important;
}

#mw-page-base {
    z-index: -10;
}

#right-navigation {
        right: -1.55em !important;
        position: absolute !important;
}

#p-personal {
    right: -0.55em !important;
}

#content.mw-body {
	margin-left: auto !important;
	margin-right: auto !important;
	max-width: 1000px !important;
    display: flow-root !important;
    border-right-width: 1px !important;
}

/* Dealing with nresize class, e.g. panoramic image here that has horizontal scroll bar: https://en.wikipedia.org/wiki/Narendra_Modi_Stadium */
div.noresize img {
    max-width: 100% !important;
}

#mw-navigation #mw-panel {
    display: none !important;
}

#mw-navigation-mod > #mw-panel {
    position: relative !important;
    right: 0px !important;
    float: left !important;
    margin-left: -12em !important;
}


#footer {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1000px !important;
}